Repository MotocalDevelopers/motocal, pull requests merged in 2019-08, with the labels that each got.

#327 Patch 2019-08-06: New Characters + character weapons and new uncaps
  armData.json
  charaData.json
  txt_source/arm-translation.json
  txt_source/armData-ssr.txt
  txt_source/armImageGameURLList.txt
  txt_source/armImageWikiURLList.txt
  txt_source/chara-translation.json
  txt_source/charaData.txt
  txt_source/charaImageGameURLList.txt
  txt_source/charaImageWikiURLList.txt
Labels: game update

#312 Take LimitValues/DamageLimit out of damage calculation function
  src/global_const.js
  src/global_logic.js
  src/global_logic.test.js
Labels: bug, enhancement

#302 Add race/fav/type check functions
  charaData.json
  scripts/chara_data_converter.py
  src/global_const.js
  src/global_logic.js
  src/skill_filter.js
  src/skill_filter.test.js
  src/translate.js
  txt_source/charaData.txt
Labels: enhancement, help wanted

#344 Patch 2019-08-12: New characters and weapons
  armData.json
  charaData.json
  scripts/arm_data_converter.py
  scripts/chara_data_converter.py
  src/global_const.js
  src/translate.js
  txt_source/arm-translation.json
  txt_source/armData-ssr.txt
  txt_source/armImageGameURLList.txt
  txt_source/armImageWikiURLList.txt
  txt_source/chara-translation.json
  txt_source/charaData.txt
  txt_source/charaImageGameURLList.txt
  txt_source/charaImageWikiURLList.txt
Labels: game update

#345 Patch 2019-08-15: New characters and weapons
  armData.json
  charaData.json
  scripts/arm_data_converter.py
  txt_source/arm-translation.json
  txt_source/armData-ssr.txt
  txt_source/armImageGameURLList.txt
  txt_source/armImageWikiURLList.txt
  txt_source/chara-translation.json
  txt_source/charaData.txt
  txt_source/charaImageGameURLList.txt
  txt_source/charaImageWikiURLList.txt
Labels: game update

#346 Patch 2019-08-22: New character uncap and weapons
  armData.json
  charaData.json
  scripts/chara_data_converter.py
  txt_source/arm-translation.json
  txt_source/armData-ssr.txt
  txt_source/armImageGameURLList.txt
  txt_source/armImageWikiURLList.txt
  txt_source/charaData.txt
  txt_source/charaImageGameURLList.txt
  txt_source/charaImageWikiURLList.txt
Labels: game update

#350 Fix skillDetailsDescription typo
  src/global_const.js
Labels: bug
