Repository MotocalDevelopers/motocal, pull requests merged in 2020-03, with the labels that each got.

#303 100 Gold Moon Weapon Skills
  armData.json
  scripts/arm_data_converter.py
  src/global_const.js
  src/global_logic.js
  src/result.js
  src/template.js
  src/translate.js
  txt_source/arm-translation.json
  txt_source/armData-ssr.txt
Labels: enhancement

#406 Patch 2020 01 17
  armData.json
  charaData.json
  scripts/chara_data_converter.py
  src/global_const.js
  src/global_logic.js
  src/translate.js
  txt_source/arm-translation.json
  txt_source/armData-ssr.txt
  txt_source/armImageGameURLList.txt
  txt_source/armImageWikiURLList.txt
  txt_source/chara-translation.json
  txt_source/charaData.txt
  txt_source/charaImageGameURLList.txt
  txt_source/charaImageWikiURLList.txt
Labels: game update

#403 Update patch till 2019-12-31
  armData.json
  charaData.json
  scripts/arm_data_converter.py
  scripts/chara_data_converter.py
  src/global_const.js
  src/global_logic.js
  src/translate.js
  txt_source/arm-translation.json
  txt_source/armData-ssr.txt
  txt_source/armImageGameURLList.txt
  txt_source/armImageWikiURLList.txt
  txt_source/chara-translation.json
  txt_source/charaData.txt
  txt_source/charaImageGameURLList.txt
  txt_source/charaImageWikiURLList.txt
Labels: game update

#405 Fix 4* Indra's Edge hp
  armData.json
  txt_source/armData-ssr.txt
Labels: bug

#408 Update patch 2020-01
  armData.json
  charaData.json
  scripts/arm_data_converter.py
  scripts/chara_data_converter.py
  src/global_const.js
  src/translate.js
  txt_source/arm-translation.json
  txt_source/armData-ssr.txt
  txt_source/armImageGameURLList.txt
  txt_source/armImageWikiURLList.txt
  txt_source/chara-translation.json
  txt_source/charaData.txt
  txt_source/charaImageGameURLList.txt
  txt_source/charaImageWikiURLList.txt
Labels: game update

#409 Update patch 2020-02
  armData.json
  charaData.json
  scripts/arm_data_converter.py
  scripts/chara_data_converter.py
  txt_source/arm-translation.json
  txt_source/armData-ssr.txt
  txt_source/armImageGameURLList.txt
  txt_source/armImageWikiURLList.txt
  txt_source/chara-translation.json
  txt_source/charaData.txt
  txt_source/charaImageGameURLList.txt
  txt_source/charaImageWikiURLList.txt
Labels: game update

#410 Update patch 2020-03-03
  armData.json
  charaData.json
  scripts/arm_data_converter.py
  src/global_const.js
  src/global_logic.js
  src/translate.js
  txt_source/arm-translation.json
  txt_source/armData-ssr.txt
  txt_source/armImageGameURLList.txt
  txt_source/armImageWikiURLList.txt
  txt_source/chara-translation.json
  txt_source/charaData.txt
  txt_source/charaImageGameURLList.txt
  txt_source/charaImageWikiURLList.txt
Labels: game update
